@import './quasar.variables.scss';

$dark-navy: #0a192f;
$navy: #112240;
$light-navy: #172a45;
$lightest-navy: #233554;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$green-tint: #64ffda1a;

* {
    margin:0;
    padding:0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
}

.q-list {
    background-color: $primary;
}


.fadeInDown {
  animation: fadeInDown 1.5s both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 1.5s both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid $secondary;
  width: 0;
  animation:
    typing 1.5s steps(24, end) forwards,
    blink 0.9s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 24ch;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: $secondary;
  }
}
