//colors
$main: #0a192f;
$dark-navy: #0a192f;
$navy: #112240;
$light-navy: #172a45;
$lightest-navy: #233554;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$green-tint: rgba(100, 255, 218, 0.1);

* {
    margin:0;
    padding:0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
}